################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/signalr_demo/.vs/signalr_demo
/signalr_demo/bin/Debug/net6.0
/signalr_demo/obj
