################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/signalr_demo/.vs/signalr_demo
